@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  width: 100%;
}
code.hljs {
  padding: 3px 5px;
}

.hljs {
  color: #c9d1d9;
  background: #1e1e2e;
  font-family: "JetBrains Mono", monospace !important;
  /* border: 1px solid #4b4266; */
  /* border: 1px solid var(--r-link-color); */
  border: 1px solid #ef4848;

  box-shadow: 0px 0px 128px 0px #ef4848;
  animation: pulse2 20s ease 0s infinite normal forwards;
  transition: all 1s ease-in-out;
}

@keyframes pulse2 {
  0% {
    box-shadow: 0px 0px 128px 0px #ef4848;
  }

  50% {
    box-shadow: 0px 0px 128px 28px #ef4848;
  }

  100% {
    box-shadow: 0px 0px 128px 0px #ef4848;
  }
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #f38b9c;
}

.hljs-variable.language_ {
  color: #ffa657;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #d2a8ff;
}
.hljs-attr,
.hljs-attribute,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #79c0ff;
}

.hljs-number,
.hljs-variable {
  color: #ffa657;
}

.hljs-literal,
.hljs-variable {
  color: #b4befe;
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #a6e3a1;
}
.hljs-built_in,
.hljs-symbol {
  color: #ffa657;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #8b949e;
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #7ee787;
}
.hljs-subst {
  color: #c9d1d9;
}
.hljs-section {
  color: #1f6feb;
  font-weight: 700;
}
.hljs-bullet {
  color: #f2cc60;
}
.hljs-emphasis {
  color: #c9d1d9;
  font-style: italic;
}
.hljs-strong {
  color: #c9d1d9;
  font-weight: 700;
}
.hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}
.hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}
